.download {
    &__container {
        @include atDesktop {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }    
    &__right {
        // box model
        order: 1;
    }
    &__left {

        @include atDesktop {
            padding-right: 26px;
        }
    }
    &__img {
        // box model
        
        @include atTabletsPortrait {
            width: auto;
        }

        // margin-top: -50px;
        &--appstore {
            display: block;
            width: 200px;
            padding-top: 50px;

            @include atTabletsPortrait {
                padding-top: 0;
            }

            @include atDesktop {
                display: block;
                margin-left: auto;
            }

            img {
                display: block;
                margin-left: auto;
                width: 200px !important;
                padding-bottom: 50px;
            }
        }

        img {
            width: 100%;
            margin-top: -105px;

            @include atTabletsPortrait {
                width: 100%;
                margin: 0;
            }

            @include atDesktop {
                width: 340px;
                display: block;
                text-align: right;
                margin-left: auto;
            }
        }
    }

    &__text {
        color: #ffffff;
        font-family: $montSerrat;
        font-weight: 900;
        font-size: 1.75rem;
        margin-bottom: 70px;

        @include atTabletsPortrait {
            width: 400px;
            margin-bottom: 37px;
        }

        @include atDesktop {
            font-size: 2.3125rem;
            width: auto;
            text-align: right;
        }
    }
}