.hero {
    // box model
    height: 600px;

    &__description {
        // box model
        padding-bottom: 26px;
        @include atDesktop {
            display: flex;
            justify-content: center;
            padding-bottom: 0;
        }
    }

    &__text {
        margin: 0;
        padding-right: 10px;
        color: $white;
        line-height: 1.5;
        font-size: 1.5rem;
        font-family: $montSerrat;
        font-weight: 700;

        @include atSmall {
            font-size: 1.4rem;
        }

        @include atMobileLarge {
            font-size: 2rem;
        }

        @include atDesktop {
            font-size: 2.5rem;
            padding-bottom: 200px;
            text-align: center;
        }

    }
}