.site-header {
    // box model
    margin-top: 45px;
    padding: 0 60px;
    
    &__title {
        // mixins
        @include atSmall {
            font-size: 0.875rem;
        }
        // box model
        margin: 0;

        // typography
        font-family: "Roboto";
        color: $dark;
        font-weight: 400;
        font-size: 1.125rem;
        text-align: center;
    }
}