.site-header {
    // box model
    padding-top: 50px;

    @include atDesktop {
        // box model
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 140px;
    }

    &__title {
        // box model
        margin: 0;
        padding-bottom: 12px;

        // typography
        font-family: "Roboto";

        color: $white;
        font-weight: 900;
        font-size: 4.125rem;
    }

    &__img {
        // box model
        display: none;

        @include atDesktop {
            display: block;
            width: 200px;
        }
    }
}