.site-footer {
    // box model
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__rules {
        
        a {
            // typography
            font-family: "Roboto";
            font-weight: 400;
            text-decoration: none;
            color: #333;
        }
    }

    &__copyright {
        
        p {
            // typography
            font-family: "Roboto";
            font-weight: 400;
            color: #AAAAAA
        }
    }
}