.site-header {
    // box model
    padding-top: 102px;

    &__title {
        // box model
        margin: 0;
        padding-bottom: 24px;

        // typography
        font-family: "Roboto";
        font-weight: 900;

        color: $white;
        font-weight: 400;
        font-size: 4.125rem;
    }
}