
html {
    // box model
    height: 100%;
    
    // typography
    font-size: 16px;
    
}

body {
    // box model
    box-sizing: border-box;
    height: 100%;
    margin: 0;

    // typography
    // font-family: $mainFont;

    overflow-x: hidden;

}
*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
    
    // typography
    font-family: inherit;
}